<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
         Django App 
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav>
      <a href="/">🗻</a>  | 
      <a href="/about">🗿</a> | 
      <a href="/posts">🗼</a> | 
    </nav>  
    <main>
      {% block content %}
      {% endblock %}
    </main>
  
  </body>
</html>
